node_modules/
__pycache__/
*.pyc

cookies.txt
Config.json
ffmpeg_path.txt

Previous Versions/

Saved Permutation Configs/*
!Saved Permutation Configs/.gitkeep

seznami predvajanja/*
!seznami predvajanja/.gitkeep

Song Classifications/*
!Song Classifications/.gitkeep

YouTube_Backup_Data/*
!YouTube_Backup_Data/.gitkeep

a popravit.txt
načrt za bodoče featurje.txt
